@CHARSET "UTF-8";

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

body{
	font-family: 'Poiret One', cursive !important;

	color: #333;
	color: rgba(0,0,0,0.5);
}
h1 {
	font-size: 6em !important;
}
h2 {
	font-size: 3em !important;
}

.b{
	font-weight: bold !important;
}

.indie {
	font-family: 'Indie Flower', cursive;
}
.rock {
	font-family: 'Rock Salt', cursive;
}

p {
	font-size: 2em;
}

.mb-15 {
	margin-bottom: 15px;
}
.mb-40 {
	margin-bottom: 40px;
}

.pl-30 {
	padding-left: 30px !important;
}

#section0, #section1, #section2 {
	background-size: cover;
	background-attachment: fixed;

	background-repeat:   no-repeat;
	background-position: center center;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	align-items: center;
	justify-content: center;
}

.box {
	margin-left: auto;
	margin-right: auto;
	/*width: 75%;*/
	padding: 50px 25px;
	background-color: rgba(255, 255, 255, 0.8);

	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
}

#section0 {
	background-image: url(../img/bg2.png);
}

#section1{
}

#section2{
}

#section3{
}